@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing:border-box ;
    margin:0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}

li,a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(244, 247, 247);
    text-decoration: none;

}

header {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;


}

.logo {
    cursor: pointer;
    margin-right: auto;
}
.search_data{
   
    background-color: rgb(255, 255, 255) ;
}

.valider{
    background-color: rgb(255, 255, 255) ;            /* Css de liens */

}

.nav_liens{
    list-style: none;
}

.nav_liens li{
    display : inline-block;
    padding : 0px 20px;

}

.nav_liens li a {
    transition: all 0,3s ease 0s;

}

.nav_liens li a:hover {
    color: dodgerblue;
}

button {
    padding :9px 25px;
    background-color: rgba(0, 136,169,1);
    border:none;
    border-bottom-left-radius : 10px;
    border-bottom-right-radius : 10px;
    border-top-left-radius : 10px;
    border-top-right-radius : 10px;
    cursor : pointer;
    transition: all 0,3s ease 0s;
}

button:hover{
    background-color: dodgerblue;
}











Body{
    
        background-color: #FFFFFF;
        
        background-size: cover;  

    }
        
    .ctn{
        display:flex;
        justify-content: start;
        border: 10px solid rgb(241, 241, 241);
        background-color: rgba(146, 118, 118, 0.39);
        border-radius: 40px;
        padding:12px;
        margin: 0px 40px;
        
       
    }

    .h1 {
        position:fixed;
        text-decoration: none;
        top:0px;
        left:0px;
        right:0px;
        margin:0px;
        font-size: 1.3em;
        padding: 15px;
        padding-left: 15px;
        background-color: #444;
        background-image: linear-gradient(rgba(26, 1, 1, 0.171), rgba(51, 51, 51, 0.144));
        color: #ddd;
        text-align: center;
    }

   
	}

  .p2{
		position:fixed;
			top:7px;
			left:30px;
			right:10px;
			margin:0px;
			font-size: 1.3em;
			
			text-align: right;
}
	p3{
		position:fixed;
		
			top:7px;
			left:140x;
			right:1700px;
			margin:1px;
			font-size: 1.1em;
			color : rgb(255, 255, 255) ;
			
			
			text-align: center;
}

p3:link {
  color: #265301;
}

p3:visited {
  color: #437A16;
}

p3:focus {
  border-bottom: 1px solid;
  background: #BA4E98;
}

p3:hover {
  border-bottom: 1px solid;

}

p3:active {
  background: #265301;
  color: #CDFEAA;
}

p3[href*="http"]{
	background:url('https://image.freepik.com/icones-gratuites/ajouter-symbole-de-personnes-de-l-39-interface-de-la-personne-noire-pres-avec-signe-plus-dans-le-petit-cercle_318-56589.jpg') 
  
	no-repeat 100% 0;
	background-size : 16px 16px;
	padding-right :6px;
  right : 50px;
  
}



	.p4{
		position:fixed;
			top:7px;
			left:140x;
			right:400px;
			margin:-4px;
			font-size: 1.7em;
			color : rgb(255, 255, 255) ;
			
			
			text-align: center;
	}


    #map {        
		max-width: 100%;
		max-height: 100%;
	  }
	  #map path {
		fill:#86AAE0;
		stroke:#FFFFFF;
		stroke-width:0.6;
		transition: fill 0.2s, stroke 0.3s;
	  }
	  #map path:hover {
		fill: rgb(29, 28, 28);
		stroke: rgb(22, 22, 22);
	  }
	  #map .separator {
		stroke: #ccc;
		fill: none;
		stroke-width:1.5;
	  }
	  #map .separator:hover {
		stroke: #ccc;
		fill: none;
	  }

     
    #search .btn-left-loupe {
        
          display:block;
          background:url(http://www.littlemome.fr/template-loupe_png.png) no-repeat 0 0;
          width:24px;
          height:24px;
          float:left;
          margin:3px;
          }
          
    #search .btn-right-fleche {
      
          display:block;
          background:url(http://www.missionprovidence.com/french/images/60269144puce-fleche-png.png) no-repeat 0 0;
          width:24px;
          height:24px;
          float:left;
          margin:6px 0 0
          }
          
    #search input {
          
          outline:0;
          border:0
          }
          
    #search input[type=text] {
         
          display:block;
          font:300 12px HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
          background:none;
          text-shadow:0 1px rgb(255, 255, 255);
          float:left;
          height:24px;
          width:160px;
          line-height:25px;
          color:#666;
          margin:0
          }