@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing:border-box ;
    margin:0;
    padding: 0;
    background-color: rgba(20, 17, 17, 0.959);
}

li,a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(244, 247, 247);
    text-decoration: none;

}

header {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;


}

.logo {
    cursor: pointer;
    margin-right: auto;
}
.search_data{
   
    background-color: rgb(255, 255, 255) ;
}

.valider{
    background-color: rgb(255, 255, 255) ;

}

.nav_liens{
    list-style: none;
}

.nav_liens li{
    display : inline-block;
    padding : 0px 20px;

}

.nav_liens li a {
    transition: all 0,3s ease 0s;

}

.nav_liens li a:hover {
    color: dodgerblue;
}

button {
    padding :9px 25px;
    background-color: rgba(0, 136,169,1);
    border:none;
    border-bottom-left-radius : 10px;
    border-bottom-right-radius : 10px;
    border-top-left-radius : 10px;
    border-top-right-radius : 10px;
    cursor : pointer;
    transition: all 0,3s ease 0s;
}

button:hover{
    background-color: dodgerblue;

}


/* barre nav */









/* map */
    
.carte{
    background-color: floralwhite;
}
#map {        
		max-width: 100%;
		max-height: 100%;
	  }
	  #map path {
		fill:#b19989;
		stroke:#FFFFFF;
		stroke-width:0.6;
		transition: fill 0.2s, stroke 0.3s;
	  }
	  #map path:hover {
		fill: rgb(29, 28, 28);
		stroke: rgb(22, 22, 22);
	  }
	  #map .separator {
		stroke: #ccc;
		fill: none;
		stroke-width:1.5;
	  }
	  #map .separator:hover {
		stroke: #ccc;
		fill: none;
	  }

     
    #search .btn-left-loupe {
        
          display:block;
          background:url(http://www.littlemome.fr/template-loupe_png.png) no-repeat 0 0;
          width:24px;
          height:24px;
          float:left;
          margin:3px;
          }
          
    #search .btn-right-fleche {
      
          display:block;
          background:url(http://www.missionprovidence.com/french/images/60269144puce-fleche-png.png) no-repeat 0 0;
          width:24px;
          height:24px;
          float:left;
          margin:6px 0 0
          }
          
    #search input {
          
          outline:0;
          border:0
          }
          
    #search input[type=text] {
         
          display:block;
          font:300 12px HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
          background:none;
          text-shadow:0 1px rgb(255, 255, 255);
          float:left;
          height:24px;
          width:160px;
          line-height:25px;
          color:#666;
          margin:0
          }











